services:
  roles:
    container_name: roles
    build:
      context: .
      dockerfile: ./apps/roles/Dockerfile
      target: development
    command: npm run start:dev roles
    ports:
      - '3000:3000'
    env_file:
      - ./.env
    depends_on:
      - postgres
  postgres:
    container_name: postgres
    image: postgres
    ports:
      - '5432:5432'
    volumes:
    - roledb_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    env_file:
      - ./.env
  

volumes:
 - roledb_data:
    