services:
  roles:
    build:
      context: .
      dockerfile: ./apps/roles/Dockerfile
    container_name: roles
    ports:
      - '3000:3000'
    env_file:
      - ./.env
    depends_on:
      - postgres
  user:
    build:
      context: .
      dockerfile: ./apps/user/Dockerfile
    container_name: user
    ports:
      - '3001:3001'
    env_file:
      - ./.env
    depends_on:
      - postgres
  postgres:
    container_name: postgres
    image: postgres:17-alpine
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    env_file:
      - ./.env
  


    